extends ./layout
block content  
	div(class="welcome") 
			h3 Welcome, Hope y'all are going to enjoy this test app!
	hr
	div(class="media-container")
		each unit in data
			ul
				li #{unit.CurrentDateTime}
				li #{unit.Datatype}
				li #{unit.Distance}